tensorflow<=2.10.0
tensorflow-gpu<=2.10.0
matplotlib
albumentations
segmentation_models
pillow
pytorch-lightning
segmentation_models_pytorch
wandb
scikit-learn
adamp
pandas
ultralytics
opencv-python
numpy==1.12.0
scipy==0.19.1
tqdm==4.11.2
numba
cupy